! SUBROUTINE read_kernels_1d(filename, num_kernels, kernel_size, kernels)
  CHARACTER (LEN=*), INTENT (IN) :: filename
  INTEGER, INTENT (IN) :: num_kernels, kernel_size
  DTYPE, DIMENSION (:, :), ALLOCATABLE, INTENT (OUT) :: kernels

  PRINT*, "[INFO] Reading 1D kernels ..."
  IF (allocated(kernels)) deallocate(kernels)
  ALLOCATE(kernels(num_kernels, kernel_size))
  call read_array_2d(filename, num_kernels, kernel_size, kernels)
!  END SUBROUTINE read_kernels_1d
